@inherits LayoutComponentBase

<PageTitle>Food Adviser</PageTitle>
@using Food_Adviser.Services
@using FoodAdviserModels.Models
@using Blazored.Typeahead

@inject IMealService MealService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <BlazoredTypeahead SearchMethod="@SearchMeal" @bind-Value="SelectedMeal">
            <SelectedTemplate>
                @context.title         
            </SelectedTemplate>

            <ResultTemplate>
                @context.title
            </ResultTemplate>
            <NotFoundTemplate>
                Sorry, there weren't any meal found.
            </NotFoundTemplate>
        </BlazoredTypeahead>

        <div class="top-row px-4 ">
            <div class="input-group mb-3 col-sm-3">
                <input id="searchMealByName"  type="text" class="form-control" aria-label="Search for meals">
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code{
    private MealResult SelectedMeal = new MealResult();

    private async Task<IEnumerable<MealResult>> SearchMeal(string searchMeal)
    {
        var response = await MealService.SearchMealsName(searchMeal);

        return response;

    }


}


