@using Microsoft.AspNetCore.Components.Web
@namespace Food_Adviser.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Food Adviser.styles.css" rel="stylesheet" />
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet"/>
    <link href="_content/Syncfusion.Blazor/styles/bootstrap4.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" rel="stylesheet"/>

    <link href="~/css/food_adviser.css" rel="stylesheet" />

    <!-- Blazored.Typeahead-->
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/website/stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href=css/website/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/website/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="css/website/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="css/website/colors.css" rel="stylesheet">

    <!-- Version Food CSS for this template -->
    <link href="css/website/version/food.css" rel="stylesheet">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
